.tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
  }
  
  .task {
      display:flex;
      flex-direction: row;
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid  rgb(224, 162, 162);
  }

  
    .hidden  { 
        display:none; 
    }
