
.friends {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.friend{
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(224, 162, 162);
}

.friend__image img{
  width: 50px; 
  height: 50px; 
}